/*
Project Name: Pacific Trails Resorts (HW10)
Author: Aleah Kirklin
Date: 04/03/19
*/

/* Set the body, background, text, color, and font style */
body {  background-color: #F5F5F5;
        color: #008080;
        font-family: Verdana, Arial, sans-serif;
        }

/* Set the header background, text color, and make it centered */
header { background-color: #008080;
         color: #F5F5F5;"
         text-align: center:
         }

/* Make h1 take up more vertical space */
h1 { background-color: #008080;
     color: #F5F5F5;
     line-height: 200%;
     font-family: Verdana, Arial, sans-serif;
     text-indent: 1em;
     text-shadow: 3px 3px 5px #CCCCCC;}

h2 { background-color: #008080;
     color: #F5F5F5;
     font-family: Verdana, Arial, sans-serif;
     text-align: center; }

h3 { background-color: #008080;
     color: #F5F5F5;
     font-family: Verdana, Arial, sans-serif;
     text-align: center; }

nav { font-weight: bold;
     font-size: 1.25 em;
     word spacing: 1em; }

p { font-size: .90em;
    text-indent: 3em; }
